<h1><%= @user.username %>'s Decks</h1>

<div class="deck_list">
  <ul>
    <li>
      <ul>
        <li>Deck Name</li><li>Description</li><li>Number of Cards</li>
      </ul>
    </li>
    <% @user.decks.each do |deck| %>
      <li>
        <ul>
          <a href="../../../decks/<%= deck.id %>">
            <li><%= deck.name %></li><li><%= deck.snippet %></li><li><%= deck.cards.length %></li><br><li>ADD A BUTTON</li>
          </a>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
