<h1 class="table_title"><%= @user.username %>'s Decks</h1>
  <table>
    <tr>
      <th>Deck Name</th>
      <th>Description</th> 
      <th>Number of Cards</th>
      <th>Edit</th>
    </tr>
   <% @user.created_decks.each do |deck| %>
    <tr>
      <td>
        <!-- don't use relative pathing in html this will not work correctly on a deployed env -->
        <a href="../../../decks/<%= deck.id %>"><%= deck.name %></a>
      </td>
      <td><%= deck.snippet %></td>
      <td><%= deck.cards.length %></td>
      <td>
        <a href="../../../decks/<%= deck.id %>/edit">edit deck</a>
      </td>
    </tr> 
  <% end %>
    <tr>
      <td><a href='/decks/new'>Create a Deck</a></td>
    </tr>
  </table>