<%= erb :_errors, locals: {errors: @errors} %>

<h1><%= @user.username %>'s Profile</h1>
<a href='/decks/new'>Create a Deck</a>
<a href='/users/<%= @user.id %>/decks'>My Decks</a>
<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type=submit value="log out">
</form>

<h3><%= @user.username %>'s Flashcard Statistics</h3>
Number of rounds played: <%= @user.rounds_played %> <br>
Percent correct on first try: <%= @user.percent_correct_on_first_try %><br>

<% @user.played_decks.uniq.each do |deck| %>
  <%= deck.name %> <a href="../decks/<%= deck.id %>">Go to deck</a>
  <table>
    <% deck.rounds.select {|round| round.complete?}.each do |complete_round| %>
      <tr>
        <td>Date Taken: <%= complete_round.created_at.strftime('%a %d %b %Y') %></td>
        <td>Correct on First Try: <%= complete_round.correct_on_first_try.length %></td>
        <td>Total Guesses: <%= complete_round.guesses.length %></td>
        <td>Percent Correct on First Try: <%= complete_round.percent_correct_on_first_try %></td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>


